/* @font-face {
    font-family: 'Edensor';
    src: url("fonts/Louis_George_Cafe.ttf");
} */

* {
    font-family: 'roboto-regular';
    font-size: 26px;
}

html, 
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #ffeff7;
    h1 {
        font-family: 'roboto-regular';
        margin: 10px 0;
        font-size: 40px;
    }
}
