@font-face {
    font-family: 'ArchitectsDaughter';
    src: url("fonts/Edensor.otf");
}

* {
    font-family:'ArchitectsDaughter';
    font-size: 26px;
}

html, 
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #F6F5EE;
    h1 {
        font-family: 'ArchitectsDaughter';
        margin: 10px 0;
        font-size: 40px;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .Toastify__toast-container--top-right:has(div.Toastify__toast--success) {
        width: 95vw;
        margin-left: 10px;
    }
}
/* desktop */
@media only screen and (min-width: 768px) {
    .Toastify__toast-container--top-right:has(div.Toastify__toast--success) {
        width: 50vw;
    }
}

.Toastify__toast-body {
    font-family: 'ArchitectsDaughter';
    font-size: 30px;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    background: #008000 !important;
}

.Toastify__toast-icon {
    min-width: 42px;
}